.pagination {
    text-align: center;
    margin-top: 20px;
}

.pageNumber,
.activePage {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

.activePage {
    border: 1px solid #0055ff;
    cursor: default;
}

.pageNumber:hover {
    border: 1px solid #0055ff;
}