$mainColor: #000;
$blue: #00308E;
$lightBlue:#F2F7FF;
$white: #fff;


$fontSize: 14px;
$fontFamily: 'Inter';

//=======
$mobile: 320px;
$x_mobile: 481px;
$xs_mobile: 769px;
$tablet: 961px;
$pc: 1281px;
$x_pc: 1441px;

