.tabs {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tab {
  background-color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  transition: color 0.3s, border-bottom 0.3s;
  width: calc(100% / 3);
  padding: 10px;
  color: #000;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.tab.active {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.tab:hover {
  background-color: #f0f0f0;
}