.wrapper {
    width: calc(100% / 3) * 2;
    background-color: #ffffff;
    padding: 20px 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    max-width: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

thead {
    background-color: #e0e0e0;
}

@media (max-width: 991px) {
    .wrapper {
        width: 100%;
    }
}


@media (max-width: 786px) {

    th,
    td {
        padding: 5px;
        max-width: 40px;
    }
}